{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% load custom_tags %}
{% block title %}
Import target for Recon
{% endblock title %}


{% block custom_js_css_link %}
<link href="{% static 'assets/css/components/tabs/custom-tabs.css' %}" rel="stylesheet" type="text/css" />
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
Upload file subdomain
{% endblock breadcrumb_title %}

{% block main_content %}

    <div class="mb-4">
        <p class="text-warning">
        *Your txt file must have list of domains seperated by new line.
        <br><br>
        </p>
        <form method="post" action="./subdomainfile" enctype="multipart/form-data">
            <div class="custom-file">
                {% csrf_token %}
                <input type="file" class="custom-file-input" id="txtFile" required multiple accept=".txt" name="txtFile">
                <label class="custom-file-label" for="txtFile">Choose *.txt file</label>
            </div>
            <input type="submit" class="btn btn-outline-primary float-right mt-5 mb-2" value="Upload">
        </form>
    </div>
{% endblock main_content %}
